/*  Fonts */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=EB+Garamond&family=Libre+Bodoni&family=Merriweather&family=Montserrat&family=Poppins&family=Roboto:ital,wght@0,500;1,400&family=Unbounded:wght@900&display=swap');

*{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Unbounded', cursive;

    margin: 0;
    padding: 0;
    
    
}
/*  Design Navbar */
a{
    color: white;
    text-decoration: none;
}

.navbar{
  background-color: black ;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.navbarleft{
    color: white;
    font-family: 'Dancing Script', cursive;
    width: 50%;
    margin-left: 10px;
    font-size: 35px;
}
.navbarcenter{
    position: absolute;
    margin-left: -10%;
    font-style: italic;
    
}
.navbarright{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.contact-us a{
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(4,207,252,1) 0%, rgba(89,88,244,1) 100%);
}

/* image slider */

img{
   
    background-color: #1D212B;
    height: 80%;
}
.chef{
    opacity: 0.8;
    position: absolute;
}
.img-slider{
    
    position: absolute;
    width: 1280px;
    height: 650px;
    margin-top: 5%;

    background: radial-gradient(circle, rgba(4,207,252,1) 0%, rgba(89,88,244,1) 100%);
    margin-left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }
  
  .img-slider .slide{
   
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
   
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    
    position: absolute;
    top: 0;
    padding: 15px 30px;

  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    background: radial-gradient(circle, rgba(4,207,252,1) 0%, rgba(89,88,244,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .img-slider .slide .info p{
    
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 30px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;

  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: radial-gradient(circle, rgba(4,207,252,1) 0%, rgba(89,88,244,1) 100%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }